<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">  <!-- ONE .box wrapping ALL items and form -->

  <% for (let i = 0; i < list.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%= list[i] %></p>
    </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="new item" autocomplete="off">
    <button type="submit" name="List" value="<%= listTitle %>">+</button>
  </form>

</div>  <!-- CLOSE the single .box -->

<%- include("footer") -%>
